<h1>Dispatch View</h1>

<h4 id='dispatch-destination'></h4>

<div class="dispatcher-inputs">
  <input id="dispatcher-destination" type="text" name="destination">
  <button id="dispatch-submit" type="button" name="submit">Submit</button>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <p>Assign this location to a driver:</p>
      <div class="drivers">

      </div>
    </div>
    <div class="col-6">
      <p>Get a driver's most recent location:</p>
      <div class="location">
        
      </div>
    </div>
  </div>

</div>


<iframe id="dispatcher-iframe" src="" width="600" height="600"></iframe>

<%= javascript_include_tag 'dispatcher' %>
