<h1>Dispatch View</h1>

<h4 id='dispatch-destination'>Map for :</h4>

<div class="dispatcher-inputs">
  <input id="dispatcher-destination" type="text" name="destination">
  <button id="dispatch-submit" type="button" name="submit">Submit</button>
</div>

<p>Assign this location to a driver:</p>
<div class="drivers">

</div>

<iframe id="dispatcher-iframe" src="" width="600" height="600"></iframe>

<%= javascript_include_tag 'dispatcher' %>
