<form class="registration-form">
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" name="username" class="form-control" id="username">
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="text" name="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" name="password" class="form-control" id="password">
  </div>
  <div class="form-group role">
    <label for="driver">Driver</label>
    <input id="driver" type="radio" name="role" value="driver" checked>
    <label for="dispatcher">Dispatcher</label>
    <input id="dispatcher" type="radio" name="role" value="dispatcher">
  </div>
  <button class="btn btn-primary" type="button" id="registration-submit">Register</button>
</form>
